extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9        
        h1 Lucas McGeath
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am an aspiring full stack JavaScript developer and Treehouse TalentPath graduate. My strengths include a relentless enthusiasm for finding solutions, adaptability and a strong desire to learn. Feel free to drop me a line, I love to chat!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Express
          li HTML
          li CSS
          li Node JS
          li jQuery
          li React
          li SQLite
          li Sequelize
          li Back-end Programming
          li Object-oriented Programming
        h6 Contact Info

        ul
          li LMCGEATH@GMAIL.COM

        a.button.expanded(href='https://github.com/lmcgeath', target='_blank') GitHub
        a.button.expanded(href='https://www.linkedin.com/in/lucas-mcgeath-b4a0541a3/', target='_blank') LinkedIn

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  