extends layout.pug

block content
    h1= error.message
    h2= error.status
    pre= error.stack
//- Create a new Pug template in the views folder and name it error.pug. This Pug file should extend the layout, be set to block content, and display the error.message, error.status, and error.stack properties.
//- When the request URL is for a non-existent route, the error.pug template should be displayed in the browser along with the following properties:
//- error.message
//- error.status
//- error.stack